<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from bracketweb.com/agrofa-html/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Sep 2024 12:02:05 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= code %> Error</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
    <meta
      name="description"
      content="Sollox is a modern HTML Template for Beauty, Spa Centers, Hair, Nail, Spa Salons & Cosmetic shops. The template perfectly fits Beauty Spa, Salon, and Wellness Treatments websites and businesses."
    />

    <!-- fonts -->
    <link rel="preconnect" href="/https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,400;8..144,600&amp;display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap-select/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="/assets/vendors/tiny-slider/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/vendors/agrofa-icons/style.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl-carousel/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl-carousel/css/owl.theme.default.min.css"
    />

    <!-- template styles -->
    <link rel="stylesheet" href="/assets/css/agrofa.css" />
    <style>
      .error-404__text {
        font-size: 5rem;
        color: #0c7735;
      }
    </style>
  </head>

  <body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
      <div
        class="preloader__image"
        style="background-image: url(/assets/images/loader.png)"
      ></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
      <div class="topbar-one topbar-one--two">
        <div class="container-fluid">
          <div class="topbar-one__inner">
            <ul class="list-unstyled topbar-one__info">
              <li class="topbar-one__info__item">
                <i class="icon-email topbar-one__info__icon"></i>
                <div class="topbar-one__support">
                  <small class="topbar-one__support--text">Send an Email</small>
                  <a href="mailto:Support@gmail.com">Support@gmail.com</a>
                </div>
              </li>
              <li class="topbar-one__info__item">
                <i class="icon-phone topbar-one__info__icon"></i>
                <div class="topbar-one__support">
                  <small class="topbar-one__support--text"
                    >Helpline and Support</small
                  >
                  <a href="tel:+8805002451">+1800 180 1551</a>
                </div>
              </li>
            </ul>
            <!-- /.list-unstyled topbar-one__info -->
            <div class="topbar-one__right">
              <p class="topbar-one__right-text">
                Agriculture &amp; Organic Farm
              </p>
              <a href="/products" class="agrofa-btn topbar-one__btn">
                <span>Shop Now</span>
              </a>
            </div>
            <!-- /.topbar-one__right -->
          </div>
          <!-- /.topbar-one__inner -->
        </div>
        <!-- /.container-fluid -->
      </div>

      <header
        class="main-header main-header--two sticky-header sticky-header--normal"
      >
        <div class="container-fluid">
          <div class="main-header__inner">
            <div class="main-header__logo">
              <a href="/" class="main-header__logo_link">
                <img
                  src="/assets/images/logo-light.png"
                  alt="Agrofa HTML"
                  width="156"
                />
              </a>
            </div>
            <!-- /.main-header__logo -->

            <nav class="main-header__nav main-menu">
              <ul class="main-menu__list">
                <li class="dropdown megamenu">
                  <a href="/">Home</a>
                </li>

                <li>
                  <a href="/services">Services</a>
                  <ul>
                    <li>
                      <a href="/pesticides"
                        >Select Pesticides & Fertilizaters</a
                      >
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="/select/pesticides&fertilizers"
                    >Select Pesticides & Fertilizaters</a
                  >
                </li>

                <li class="dropdown">
                  <a href="/products">Shop</a>
                </li>

                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
            <!-- /.main-header__nav -->
            <div class="main-header__right">
              <div class="mobile-nav__btn mobile-nav__toggler">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- /.mobile-nav__toggler -->

              <a href="/cart" class="main-header__cart">
                <i class="icon-market" aria-hidden="true"></i>
                <!-- <img class="main-header__cart_icon" src="../assets/images/nav-img/chart_icon.png" alt=""> -->
                <!-- <span class="main-header__cart_count">0</span> -->
                <span class="sr-only">Search</span> </a
              ><!-- /.search-toggler -->
              <a href="/contact" class="agrofa-btn main-header__btn">
                <span>Get In Touch</span> </a
              ><!-- /.thm-btn main-header__btn -->
            </div>
            <!-- /.main-header__right -->
          </div>
          <!-- /.main-header__inner -->
        </div>
        <!-- /.container-fluid -->
      </header>
      <!-- /.main-header -->
      <!-- /.main-header -->

      <section class="page-header page-header--notfound">
        <div class="page-header__bg"></div>
        <!-- /.page-header__bg -->
        <div class="container">
          <!-- <img src="assets/images/shapes/page-header-s-1.png" alt="404" class="page-header__shape"> -->
          <h2 class="page-header__title"><%= code %></h2>
          <ul class="agrofa-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span><%= code %></span></li>
          </ul>
          <!-- /.thm-breadcrumb list-unstyled -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.page-header -->

      <section class="error-404">
        <div class="container">
          <h2 class="error-404__title wow fadeInUp" data-wow-duration="1500ms">
            <p class="error-404__text"><%= code %></p>
          </h2>
          <!-- /.error-404__title -->

          <h3 class="error-404__sub-title"><%= message %></h3>
          <!-- /.error-404__title -->
          <div class="error-404__btns">
            <a href="/" class="agrofa-btn agrofa-btn--base error-404__btn"
              ><span>Back To Home</span></a
            >
          </div>
          <!-- /.error-404__btns -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.error-404 -->

      <footer class="main-footer main-footer--version2 background-black-2">
        <div class="main-footer__bg background-black-2" style="background-image: url(assets/images/shapes/footer-shape1-1.png);"></div>
        <!-- /.main-footer__bg -->
        <div class="main-footer__top">
            <div class="container">
                <div class="row">
                    <div class="footer-widget__col footer-widget__col__col1">
                        <div class="footer-widget footer-widget--about">
                            <a href="/" class="footer-widget__logo">
                                <img src="/assets/images/logo-light.png" width="155" alt="Agrofa HTML Template">
                            </a>
                            <p class="footer-widget__experience-text"></p>
                            
                            <div class="mc-form__response"></div><!-- /.mc-form__response -->
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-md-6 -->
    
                    <div class="footer-widget__col  footer-widget__col__col2">
                        <div class="footer-widget footer-widget--links">
                            <h5 class="footer-widget__title">Links</h5>
                            <ul class="list-unstyled footer-widget__links">
                                <li><a href="/select/pesticides&fertilizers">Pesticides & Fertilizers</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/products">Shop</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul><!-- /.list-unstyled footer-widget__links -->
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-footer__top -->
    
        <div class="main-footer__bottom">
            <div class="container">
                <div class="main-footer__bottom__inner">
                    <p class="main-footer__copyright"> &copy; <span class="dynamic-year"></span> All Rights Reserved</p>
                </div><!-- /.main-footer__inner -->
            </div><!-- /.container -->
        </div><!-- /.main-footer__bottom -->
    </footer><!-- /.main-footer -->
    </div>
    <!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i
        ></span>

        <div class="logo-box">
          <a href="/" aria-label="logo image"
            ><img src="/assets/images/logo-light.png" width="155" alt=""
          /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
      <span class="scroll-to-top__text">back top</span>
      <span class="scroll-to-top__wrapper"
        ><span class="scroll-to-top__inner"></span
      ></span>
    </a>

    <script src="/assets/vendors/jquery/jquery-3.7.0.min.js"></script>
    <script src="/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="/assets/vendors/tiny-slider/tiny-slider.js"></script>
    <script src="/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="/assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="/assets/vendors/wow/wow.js"></script>
    <script src="/assets/vendors/imagesloaded/imagesloaded.min.js"></script>
    <script src="/assets/vendors/isotope/isotope.js"></script>
    <script src="/assets/vendors/countdown/countdown.min.js"></script>
    <script src="/assets/vendors/jquery-circleType/jquery.circleType.js"></script>
    <script src="/assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
    <!-- template js -->
    <script src="/assets/js/agrofa.js"></script>
  </body>

  <!-- Mirrored from bracketweb.com/agrofa-html/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Sep 2024 12:02:05 GMT -->
</html>
